<h1>All Customers</h1>
<%= link_to "Alphabetized", "/customers/alphabetized" %>
<%= link_to "No Email", "/customers/missing_email" %>
<div class='flexit'>
  <%= render partial: 'customer', collection: @customers %>
</div>