<h1>Missing Email Customers</h1>
<%= link_to "Index", "/customers/" %>
<%= link_to "Alphabetized", "/customers/alphabetized" %>
<div class='flexit'>
  <%= render partial: 'customer', collection: @customers %>
</div>